body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(185, 185, 185, 0.143);
    transition: all ease-in-out 0.1s;
}

.navbar-brand {
    font-size: 2rem;
}

.landing-page {
    padding: 26vw 25vw 25vw 25vw;
    background: linear-gradient(0deg, #808080bd 10%,#b5b5b5bd 20%,#dad9d9bd 30%,#ffffffbd 40%), 
    linear-gradient(45deg, #b5b5b5bd 40%, #dad9d9bd 10%, #ffffffbd 20%, #808080bd 30%), 
    linear-gradient(90deg, #dad9d9bd 30%, #ffffffbd 40%, #808080bd 10%, #b5b5b5bd 20%), 
    linear-gradient(135deg, #ffffffbd 20%, #808080bd 30%, #b5b5b5bd 40%, #dad9d9bd 10%), 
    linear-gradient(180deg, #808080bd 10%, #b5b5b5bd 20%, #dad9d9bd 30%, #ffffffbd 40%);
    position: relative;
    z-index: -1;
}


.landing-page-dark {
    padding: 26vw 25vw 25vw 25vw; 
    position: relative; 
    z-index: -1; 
    background: linear-gradient(0deg, #8080809f 10%,#5f5f5f9f 20%,#3838389f 30%,#0000009f 40%), 
    linear-gradient(45deg, #5f5f5f9f 40%, #3838389f 10%, #0000009f 20%, #8080809f 30%), 
    linear-gradient(90deg, #3838389f 30%, #0000009f 40%, #8080809f 10%, #5f5f5f9f 20%), 
    linear-gradient(135deg, #0000009f 20%, #8080809f 30%, #5f5f5f9f 40%, #3838389f 10%), 
    linear-gradient(180deg, #8080809f 10%, #5f5f5f9f 20%, #3838389f 30%, #0000009f 40%) !important;
}

.modal {
    overflow: hidden;
}

.col-md-6 img {
    height: 80%;
    width: 80%;
}

.col-lg {
    margin-bottom: 1rem;
}

.fa-moon {
    font-size: 2.5rem;
    color: white;
    padding: 20% 24%;
}

.products {
    background: #fff;
}

.card {
    border: none;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    transition: all ease-in-out 0.2s;
}

#productImage {
    border-radius: 0.5rem;
}

.card img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.card:hover {
    box-shadow: #8c8c8c54 0.1rem 0.5rem 0.7rem 0.5rem;
}


.circle {
    width: 4rem;
    height: 4rem;
    background-color: #3d3d3d;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    border: none;
    box-shadow: #00000071 2px 2px 15px 2px;
    z-index: 10000;
}

.btn-close-dark {
    color: white !important;
}

.circle:active {
    box-shadow: #00000071 0.2px 0.2px 1.5px 0.2px;
}
    
@media (min-width: 1200px) {

    .navbar-brand {
        margin-left: 7rem;
    }

    .navbar-nav {
        margin-left: 28rem;
    }

    .dropdown-menu {
        opacity: 0;
        display: block;
        transition: all 0.5s;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
    }
}


@media (min-width: 960px) {
    .col-lg {
        max-width: 33%;
        max-height: 20%;
    }
}
