body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(216, 147, 147, 0.5)
}

.landing-page {
    height: 100vh;
}

.col-md-6 img {
    height: 80%;
    width: 80%;
}

.col-lg {
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: #8c8c8c54 0.1rem 0.5rem 0.7rem 0.5rem;
}
    
@media (min-width: 1200px) {

    .navbar-nav {
        margin-left: 30rem;
    }

    .dropdown-menu {
        display: block;
        opacity: 0;
        transition: all 0.5s;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
    }
}