body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(185, 185, 185, 0.143)
}

.landing-page {
    padding: 5rem;
    height: max-content;
    background: linear-gradient(45deg, #8080804d,#b5b5b54d,#dad9d94d,#ffffff7d);
    position: relative;
    z-index: -1;
}

.col-md-6 img {
    height: 80%;
    width: 80%;
}

.col-lg {
    margin-bottom: 1rem;
}

.fa-moon {
    font-size: 2.5rem;
    color: white;
    padding: 20% 24%;
}

.products {
    background-color: white;
}

.card {
    border: none;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    transition: all ease-in-out 0.2s;
}

.card img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.card:hover {
    box-shadow: #8c8c8c54 0.1rem 0.5rem 0.7rem 0.5rem;
}


.circle {
    width: 4rem;
    height: 4rem;
    background-color: #3d3d3d;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    border: none;
    box-shadow: #00000071 2px 2px 15px 2px;
}

.circle:active {
    box-shadow: #00000071 0.2px 0.2px 1.5px 0.2px;
}
    
@media (min-width: 1200px) {

    .navbar-brand {
        margin-left: 5rem;
    }

    .navbar-nav {
        margin-left: 30rem;
    }

    .dropdown-menu {
        opacity: 0;
        display: block;
        transition: all 0.5s;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
    }
}

@media (min-width: 960px) {
    .col-lg {
        max-width: 33%;
        max-height: 20%;
    }
}